@font-face {
  font-family: 'fsm';
  src: url('/fonts/fsm/fsm-r.woff2') format('woff2'), url('/fonts/fsm/fsm-r.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'fsm';
  src: url('/fonts/fsm/fsm-b.woff2') format('woff2'), url('/fonts/fsm/fsm-b.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'fsm';
  src: url('/fonts/fsm/fsm-i.woff2') format('woff2'), url('/fonts/fsm/fsm-i.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'fsm';
  src: url('/fonts/fsm/fsm-bi.woff2') format('woff2'), url('/fonts/fsm/fsm-bi.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'ubuntu';
  src: url('/fonts/u/u-700.woff2') format('woff2'), url('/fonts/u/u-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: 'fsm', 'Consolas', 'monaco', monospace;
  font-feature-settings: 'ss01';
  line-height: 1.8;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100vw;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: 'rhd', 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
  font-weight: 900;
  font-family: 'ubuntu';
  letter-spacing: -1px;
}

h1 {
  font-size: 2.011rem;
  line-height: 1.2;
}
h2 {
  font-size: 1.749rem;
  line-height: 1.2;
}
h3 {
  font-size: 1.521rem;
  line-height: 1.25;
}
h4 {
  font-size: 1.322rem;
  line-height: 1.3;
}
h5 {
  font-size: 1.15rem;
  line-height: 1.35;
}
h6 {
  font-size: 1rem;
  line-height: 1.4;
}

.t-small {
  font-size: 0.756rem;
  line-height: 1.4;
}

.t-smaller {
  font-size: 0.658rem;
  line-height: 1.4;
}
